<section class="about">
	<div class="inner flex-between">
		<div class="about__col">
			<h2 class="about__title">
				Our Services
			</h2>
			<ul class="about__list">
				<li class="about__list-item">
					<span class="about__list-title js-link">
					<i class="about__list-i"></i>
					Donec eget leo facilisis
				</span>
					<div class="about__list-text">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa eligendi, ex totam! In vitae ratione odit neque quis, est nemo harum saepe eaque labore. 
						</p>
					</div>
				</li>
				<li class="about__list-item">
					<span class="about__list-title js-link">
						<i class="about__list-i"></i>
					Nunc venenatis neque vitae risus</span>
					<div class="about__list-text">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa eligendi, ex totam! In vitae ratione odit neque quis, est nemo harum saepe eaque labore. 
						</p>
					</div>
				</li>
				<li class="about__list-item">
					<span class="about__list-title js-link">
						<i class="about__list-i"></i>
					Nam ut accumsan massa</span>
					<div class="about__list-text">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa eligendi, ex totam! In vitae ratione odit neque quis, est nemo harum saepe eaque labore. 
						</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="about__col">
			<h2 class="about__title">
				What People Say About Us
			</h2>
			<div class="about__in">
				<div class="about__pic">
					<i class="icon-author1"></i>
				</div>
				<div class="about__content">
					<h3>Hanry Ford</h3>
					<p>
						Nullam ac vestibulum nisl, in rutrum felis. Pellentesque quis facilisis nisl. Aliquam ut tincidunt sem. Sed at condimentum tellus, vitae elementum odio. Sed hendrerit varius lectus, venenatis blandit ligula pulvinar in. 
					</p>
				</div>
			</div>
			<div class="about__in">
				<div class="about__pic">
					<i class="icon-author2"></i>
				</div>
				<div class="about__content">
					<h3>Eline Dorther</h3>
					<p>
						Nullam ac vestibulum nisl, in rutrum felis. Pellentesque quis facilisis nisl. Aliquam ut tincidunt sem. Sed at condimentum tellus, vitae elementum odio. Sed hendrerit varius lectus, venenatis blandit ligula pulvinar in. 
					</p>
				</div>
			</div>

		</div>

	</div>
</section>