<header class="header">
	<div class="header__top">
		<div class="inner flex-between">
			<div class="header__col ">
				<ul class="social__list">
					<li class="social__list-item">
						<a href="" class="social__list-link">
							<i class="social__list-icon icon-fb"></i>
						</a>
					</li>
					<li class="social__list-item">
						<a href="" class="social__list-link">
							<i class="social__list-icon icon-li"></i>
						</a>
					</li>
					<li class="social__list-item">
						<a href="" class="social__list-link">
							<i class="social__list-icon icon-tw"></i>
						</a>
					</li>
					<li class="social__list-item">
						<a href="" class="social__list-link">
							<i class="social__list-icon icon-go"></i>
						</a>
					</li>
					<li class="social__list-item">
						<a href="" class="social__list-link">
							<i class="social__list-icon icon-vi"></i>
						</a>
					</li>
					<li class="social__list-item">
						<a href="" class="social__list-link">
							<i class="social__list-icon icon-pi"></i>
						</a>
					</li>
				</ul>
			</div>
			<div class="header__col flex ">
				<div class="header__time">
					<p>
						<i class="icon-time"></i>
						Open House: Mon - Fri – 9:00 - 18:00
					</p>
				</div>
				<div class="lang"> 
					<span class="lang__current">
						<img src="img/flag/gbr.svg" width="17" height="12" alt="">
						English
						<i class="lang__icon icon-ardown"></i>
					</span>
					<ul class="lang__list submenu">
						<li class="lang__list-item"> 
							<a href="">
								<img src="img/flag/de.svg" width="17" height="12" alt="">
								Germany
							</a> 
						</li>
						<li class="lang__list-item"> 
							<a href="">
								<img src="img/flag/us.svg" width="17" height="12" alt="">
								Usa Random Random
							</a> 
						</li>
					</ul>
				</div>
				<div class="currency"> 
					<span class="currency__current">
						USD
						<i class="currency__icon icon-ardown"></i>
					</span>
					<ul class="currency__list submenu">
						<li class="currency__list-item"> 
							<a href="">
								EUR
							</a> 
						</li>
						<li class="currency__list-item"> 
							<a href="">
								RUB
							</a> 
						</li>
					</ul>
				</div>
				<a href="/" class="btn-login js-login">
					<i class="icon-login"></i>
					Login / Register
				</a>
			</div>

		</div>
	</div>
	<div class="header__body">
		<div class="inner flex-between">
			<div class="header__logo">
				<h1 class="header__title">
					<a class="header__link" href="">
						uprealestate
					</a>
				</h1>
			</div>
			<ul class="contacts">
				<li class="contacts__item">
					<div class="contacts__img">
						<i class="contacts__icon icon-phone"></i>
					</div>
					<div class="contacts__inner">
						<h3 class="contacts__title">Call Us:</h3>
						<a class="contacts__link" href="tel:+4352349867">
							435-234-9867
						</a>
					</div>
				</li>
				<li class="contacts__item">
					<div class="contacts__img">
						<i class="contacts__icon icon-message"></i>
					</div>
					<div class="contacts__inner">
						<h3 class="contacts__title">Mail us:</h3>
						<a class="contacts__link" href="mailto:info@luxurylife.com">
							info@luxurylife.com
						</a>
					</div>
				</li>
				<li class="contacts__item">
					<div class="contacts__img">
						<i class="contacts__icon icon-location"></i>
					</div>
					<div class="contacts__inner">
						<h3 class="contacts__title">Visit us:</h3>
						<address>
							<p>
								Beverly Hills, CA 90210 
							</p>					
						</address>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="header__bottom">
		<div class="inner">
			<ul class="nav">
				<li class="nav__item">
					<a href="" class="nav__link">home</a>
					<ul class="dropdown__list">
						<li class="dropdown__item">
							<a class="dropdown__link" href="">
								Commercial real estate
							</a>
						</li>
						<li class="dropdown__item">
							<a class="dropdown__link" href="">
								News in the world of real estate 
							</a>
						</li>
						<li class="dropdown__item">
							<a class="dropdown__link" href="">
								Shop 
							</a>
						</li>
						<li class="dropdown__item">
							<a class="dropdown__link" href="">
								Suburban real estate 
							</a>
						</li>
						<li class="dropdown__item">
							<a class="dropdown__link" href="">
								Foreign real estate 
							</a>
						</li>
						<li class="dropdown__item">
							<a class="dropdown__link" href="">
								Real estate foreign 
							</a>
						</li>
						<li class="dropdown__item">
							<a class="dropdown__link" href="">
								Realtor
							</a>
						</li>
						<li class="dropdown__item">
							<a class="dropdown__link" href="">
								Small builder 
							</a>
						</li>
						<li class="dropdown__item">
							<a class="dropdown__link" href="">
								Large builder 
							</a>
						</li>
						<li class="dropdown__item">
							<a class="dropdown__link" href="">
								Cottage town 
							</a>
						</li>
						<li class="dropdown__item">
							<a class="dropdown__link" href="">
								Object 
							</a>
						</li>
						<li class="dropdown__item">
							<a class="dropdown__link" href="">
								Rent of Apartments 
							</a>
						</li>
						<li class="dropdown__item">
							<a class="dropdown__link" href="">
								Rent of commercial real estate 
							</a>
						</li>
						<li class="dropdown__item">
							<a class="dropdown__link" href="">
								Rent by the day resort objektot
							</a>
						</li>
					</ul>
				</li>
				<li class="nav__item">
					<a href="" class="nav__link">Properties</a>
				</li>
				<li class="nav__item">
					<a href="" class="nav__link">Agents</a>
				</li>
				<li class="nav__item">
					<a href="" class="nav__link">blog</a>
				</li>
				<li class="nav__item">
					<a href="" class="nav__link">idx</a>
				</li>
				<li class="nav__item">
					<a href="" class="nav__link">pages</a>	
				</li>
				<li class="nav__item">
					<a href="" class="nav__link">features</a>
				</li>
			</ul>
			<button type="button" class="menu-burger js-burger">
				<span class="menu-burger__item"></span>
				<span class="menu-burger__item"></span>
				<span class="menu-burger__item"></span>
			</button>
			<div class="btn-send">
				<form>
				<button type="submit" class="btn btn-default btn-main">
				Submit Object
			</button>
			</form>

			</div>
		</div>
	</div>
</header>