<section class="intro">
	<img class="intro__bg" src="img/intro.jpg" alt="">
	<div class="inner">
		<div class="intro__in">
			<div class="intro__title">
				<h2>
					House of Your Dream
				</h2>
				<p>
					We Will Help to Find It
				</p>
			</div>
		</div>
		<div class="intro__form">
			<h2>Find Your Home</h2>
			<form>
				<div class="form">
					<div class="form__row">
						<div class="form__col">
							<h3 class="form__title">
								Property Type
							</h3>
							<div class="form__group">
								<select class="form__select js-select">
									<option  >Any</option>
									<option >Donec convallis orci est</option>
									<option >Morbi id vestibulum ante</option>
									<option >Nullam eget metus</option>
									<option >Duis vulputate lacinia magna</option>
								</select>
								<div class="arrow">
									<i class="icon-ardown"></i>
								</div>
							</div>
						</div>
						<div class="form__col">
							<h3 class="form__title">
								Location
							</h3>
							<div class="form__group">
								<select class="form__select js-select">
									<option  >Any</option>
									<option >Donec convallis orci est</option>
									<option >Morbi id vestibulum ante</option>
									<option >Nullam eget metus</option>
									<option >Duis vulputate lacinia magna</option>
								</select>
								<div class="arrow">
									<i class="icon-ardown"></i>
								</div>
							</div>
						</div>
						<div class="form__col">
							<h3 class="form__title">
								Property Status
							</h3>
							<div class="form__group">
								<select class="form__select js-select">
									<option  >Any</option>
									<option >Donec convallis orci est</option>
									<option >Morbi id vestibulum ante</option>
									<option >Nullam eget metus</option>
									<option >Duis vulputate lacinia magna</option>
								</select>
								<div class="arrow">
									<i class="icon-ardown"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="form__row">
						<div class="form__col">
							<h3 class="form__title form__title-pdr">
								Price Range
							</h3>
							<div class="form__controls">
								<input type="text" value="0" class="form__input js-from" />
								<input type="text" value="100000" class="form__input js-to" />
							</div>
							<div class="range-slider">
								<input type="text" class="js-range-slider" value="" />
							</div>

						</div>
						<div class="form__col form__col-flex">
							<div class="form__l">
								<h3 class="form__title">
									Beds
								</h3>
								<div class="form__group">
									<select class="form__select js-select">
										<option  >Any</option>
										<option >Donec convallis orci est</option>
										<option >Morbi id vestibulum ante</option>
										<option >Nullam eget metus</option>
										<option >Duis vulputate lacinia magna</option>
									</select>
									<div class="arrow">
										<i class="icon-ardown"></i>
									</div>
								</div>
							</div>
							<div class="form__r">
								<h3 class="form__title">
									Baths
								</h3>
								<div class="form__group">
									<select class="form__select js-select">
										<option  >Any</option>
										<option >Donec convallis orci est</option>
										<option >Morbi id vestibulum ante</option>
										<option >Nullam eget metus</option>
										<option >Duis vulputate lacinia magna</option>
									</select>
									<div class="arrow">
										<i class="icon-ardown"></i>
									</div>
								</div>
							</div>
						</div>
						<div class="form__col form__col-flex">
							<div class="form__l">
								<h3 class="form__title">
									Area <span>(Sq Ft)</span>
								</h3>
								<div class="form__group">
									<select class="form__select js-select">
										<option  >Any</option>
										<option >Donec convallis orci est</option>
										<option >Morbi id vestibulum ante</option>
										<option >Nullam eget metus</option>
										<option >Duis vulputate lacinia magna</option>
									</select>
									<div class="arrow">
										<i class="icon-ardown"></i>
									</div>
								</div>
							</div>
							<div class="form__r">
								<button class="btn btn-default btn-secondary" type="submit">find now</button>
							</div>
						</div>
					</div>
				</div>
			</form>

		</div>
		<div class="intro__mobile">
			<form>
				<button class="btn btn-default btn-secondary" type="submit">find now</button>
			</form>
		</div>
	</div>
</section>