	<div class="sidebar js-sidebar">
		<div class="sidebar__close js-close">
			<i class="icon-close"></i>
		</div>
		<div class="sidebar__in">
			<ul class="sidebar__list">
				<li class="sidebar__list-item">
					<a href="" class="sidebar__list-link js-link">
						home
						<i class="icon-ardown"></i>
					</a>
					<ul>
						<li>
							<a href="">
								Commercial real estate
							</a>
						</li>
						<li>
							<a href="">
								News in the world of real estate 
							</a>
						</li>
						<li>
							<a href="">
								Shop 
							</a>
						</li>
						<li>
							<a href="">
								Suburban real estate 
							</a>
						</li>
						<li>
							<a href="">
								Foreign real estate 
							</a>
						</li>
						<li>
							<a href="">
								Real estate foreign 
							</a>
						</li>
						<li>
							<a href="">
								Realtor
							</a>
						</li>
						<li>
							<a href="">
								Small builder 
							</a>
						</li>
						<li>
							<a href="">
								Large builder 
							</a>
						</li>
						<li>
							<a href="">
								Cottage town 
							</a>
						</li>
						<li>
							<a href="">
								Object 
							</a>
						</li>
						<li>
							<a href="">
								Rent of Apartments 
							</a>
						</li>
						<li>
							<a href="">
								Rent of commercial real estate 
							</a>
						</li>
						<li>
							<a href="">
								Rent by the day resort objektot
							</a>
						</li>
					</ul>
				</li>
				<li class="sidebar__list-item">
					<a href="" class="sidebar__list-link js-link">
						Properties
						<i class="icon-ardown"></i>
					</a>
					<ul>
						<li>
							<a href="">
								Commercial real estate
							</a>
						</li>
						<li>
							<a href="">
								News in the world of real estate 
							</a>
						</li>
						<li>
							<a href="">
								Shop 
							</a>
						</li>
						<li>
							<a href="">
								Suburban real estate 
							</a>
						</li>
					</ul>
				</li>
				<li class="sidebar__list-item">
					<a href="" class="sidebar__list-link">Agents</a>
				</li>
				<li class="sidebar__list-item">
					<a href="" class="sidebar__list-link">blog</a>
				</li>
				<li class="sidebar__list-item">
					<a href="" class="sidebar__list-link">idx</a>
				</li>
				<li class="sidebar__list-item">
					<a href="" class="sidebar__list-link">pages</a>	
				</li>
				<li class="sidebar__list-item">
					<a href="" class="sidebar__list-link">features</a>
				</li>
			</ul>
		</div>
	</div>